<section class="hero has-background-grey">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        いいね一覧
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-multiline">
      <% @favorites.each do |favorite| %>
        <%= render partial: 'posts/post', locals: { post: favorite.post } %>
      <% end %>
    </div>
  </div>
</section>